.container {
	flex: 1;
	display: flex;
	flex-direction: column;

	.addressCard {
		display: flex;
		flex-direction: row;
		align-items: center;
		cursor: pointer;

		p {
			margin: 0 0 0 10px;
		}
	}

	.text {
		text-align: center;
	}
}
